<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GoClinical_AutomationTesting">
	<test name="WorkOrder">
		<parameter name="browserName" value="chrome"></parameter>
		<classes>
			<class
				name="com.GoClinical_WorkOrder_ExecutionSuiteClasses.GoClinical_WorkOrder_AutomationTesting_ExecutionSuite2" />
		</classes>
	</test> <!-- WorkOrder -->
</suite> <!-- GoClinical_AutomationTesting -->
